*{
    box-sizing: border-box;/*Regula el tamaño, no permite que se desborden*/
    max-width: 1225px;
}
/*Quita el Scroll*/
::-webkit-scrollbar {
    display: none;
}
/*Distribución inicial body, haciendo uso de grilla*/
body{
    display:grid;
    grid-template-rows: 1fr auto auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    max-width: 1225px;
    margin:0;
}
/*Modifica el txt sobre la 1ra imagen homepage*/
h1{
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
    font-size: 70;
}
h2{
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
    font-size: 40;
    color: #333333;
    text-align: center;
}
h3{
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
    font-size: 25;
    color: #333333;
}
h4{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 20;
    color: #333333;
}
/*Encabezado
Se implementa un display tipo grilla de 3 columnas de misma medida y una sola fila */
header{
    grid-area: 1/ 1/ 2/ 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1/8fr;
    grid-template-rows: 1fr;
    align-items: center;
    max-width: 1025px; 
    padding-left: 25;

}
/*Barra de navegación, distribución en grilla principal header*/
.nav{
    grid-column: 1/2;/*Ubi. grilla header*/
    justify-content: center;
    align-items: center;
}
/*Estilo de lista sin numeración, distribución en linea*/
.nave{
    list-style: none;/*quita la numeracion*/
    display:flex; /*acomoda los items en linea*/
    justify-content: space-around;/*Da espaciado items del nav*/
    padding-left:0;/*Quita espacio por defecto de la lista*/
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}
/*Modifica el logo ubicado en el header*/
.nave1{
    grid-column: 2/3;/*Ubi grilla header*/
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Icono carrito de compras*/
.car{
    transform: scaleX(-1);/*Genera un estilo espejo*/
    padding-right: 20;/*Da espaciado entre el carrito y la flecha*/
}
/*Tercer bloque header, USD - Carrito e icono flecha*/
.pay{
    grid-column: 3/4; /*Ubi. grilla header*/
    display: flex;
    justify-content: flex-end; /*Dispone item container al final */
    align-items: center;/*Acomoda acorde al heigth en el centro*/
    padding:30; /*Da espacio del header*/
}
/*USD*/
.pay1{
    padding-right: 20; /*Da espaciado entre USD y flecha*/
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}
.pay2{
    max-width: 10;
    max-height: 10;
}  
/*2do Container Body*/
.first{
    grid-area: 2/ 1/ 3/ 3;
    align-items:center;
    justify-content: center;
    padding: 0 25;
    max-width: 1225px;
    
}
/*Clase slider*/
.fi{
    width: 100%;/*Indica el %  del ancho que ocupara img. container*/
    height: 100%; /*Indica el % del largo que ocupara img. container*/
}
/*Sección titulo*/
.ft{
    text-align: center;
    margin-top: -450; /*Permite que el txt flote sobre la imagen*/
}
/*Txt subrayado "Shop now"*/
.ft1{
    font-family: 'Lora', serif;
    font-weight: bolder;
    font-size: 25;
    text-decoration: underline;
    padding-bottom: 290;
}
/*3er container body*/
.second{
    grid-area: 3 / 1 / 4 / 2; 
    display: flex;
    justify-content: center; /*Items en el centro*/
    padding:20;
    max-width: 1225px;
}
/*Containers sale, 3ro Body*/
.s1 , .s2{
    padding: 20; /*Da espaciado entre imagenes*/
}
/*Txt containers sales*/
.st{
    margin-top: -140;
    padding-bottom: 200;
    padding-left: 25;
    font-family: 'Work Sans', sans-serif;
    color: #575757;
    font-size: 17;
}
/*Estilos num. sale 3er container body*/
.sn{
    margin-top: -340; /*Permite sobreponer sobre imagen*/
    padding-bottom: 120; /*Da espaciado a margen modificada*/
    padding-left: 20; 
    font-family: 'Lora', serif;
    font-size: 45;
    color: #529F0F;
}
/*4to container Body*/
.third{
    grid-area: 4 / 1 / 5 / 2;
    display: grid;/*Aplicando grilla container 4*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1/2fr 1fr;
    background-image: url("../img/bg-1.jpg");
    max-width: 1225px;
    padding-left: 25;
}
/*Estilo parrafo 4to. container*/
.txt{
    font-family: 'Lora', serif;
    margin-top: -20;
}
/*4to Container secc1*/
.t1{
    grid-area: 1 / 1 / 2 / 5;
    text-align: center;
    padding-bottom: 50;
}
/*4to Container secc2*/
.t2{
    grid-area: 2 / 1 / 3 / 2;
    justify-content: center;
    line-height: 1.5;
}
/*4to Container secc3*/
.t3{
    grid-area: 2 / 2 / 3 / 3;
    justify-content: center;
    line-height: 1.5;
}
/*4to Container secc4*/
.t4{
    grid-area: 2 / 3 / 3 / 4;
    justify-content: center;
    line-height: 1.5;
}
/*4to Container secc5*/
.t5{
    grid-area: 2 / 4 / 3 / 5;
    justify-content: center;
    line-height: 1.5;
}
/*Txt nombre Te*/
.txt1{
    font-family: 'Work Sans', sans-serif;
    color: #575757;
    font-size: 19;
    font-weight: 500;
}
/*Txt precio actual Te*/
.txt2{
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: #333333;
    font-size: 15;
}
/*Txt precio pasado Te*/
.txt3{
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: #575757;
    font-size: 15;
}
/*5to container body*/
.fourth{
    grid-area: 5 / 1 / 6 / 2;
    padding: 150;
    text-align: center;
    max-width: 1225px;
}
/*Txt grande 5to Container*/
.txt4{
    font-family: 'Lora', serif;
    color:#575757;
    font-size: 25;
}
/*Txt Gregory*/
.txt5{
    font-family: 'Work Sans', sans-serif;
    font-size: 14;
    font-weight: bold;
    color:  #575757;
}
/*Txt Customer*/
.txt6{
    font-family: 'Work Sans', sans-serif;
    font-size: 14;
    color:  #575757;
    font-weight: lighter;
}
/*6to Container body*/
.fifth{
    grid-area: 6 / 1 / 7 / 2;
    background-image: url("../img/bg-1.jpg");
    display: grid;
    grid-template-rows: 1/2fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 50;
    max-width: 1225px;
}
/*Distribución containers 6to Container*/
.f1{
    grid-area: 1 / 1 / 2 / 5;
    text-align: center;
}
.f2{
    grid-area: 2 / 1 / 3 / 2;
}
.f3{
    grid-area: 2 / 2 / 3 / 3;
}
.f4{
    grid-area: 2 / 3 / 3 / 4;
}
.f5{
    grid-area: 2 / 4 / 3 / 5;
}
.f6{
    grid-area: 3 / 1 / 4 / 2;
}
.f7{
    grid-area: 3 / 2 / 4 / 3;
}
.f8{
    grid-area: 3 / 3 / 4 / 4;
}
.f9{
    grid-area: 3 / 4 / 4 / 5;
}
/*7Mo Container Body*/
.sixth{
    grid-area: 7 / 1 / 8 / 2;
    display: flex;
    justify-content: center;
    background: url("../img/bg-2.jpg");
    padding: 50;
    max-width: 1225px;
}
/*Boton*/
.join{
    background-color: #000;
    font-family: 'Work Sans', sans-serif;
    font-size: 12;
    color: #fff;
    padding: 25.8;
    margin-left: -10;
}
/*Label*/
.add{
    padding: 25;
    background: transparent;
    width: 400;
    font-family: 'Lora', serif;
    font-size: 12;
}
/*8vo Container Body*/
.seventh{
    grid-area: 8 / 1 / 9 / 2; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1/2fr 1fr;
    background-image: url("../img/bg-1.jpg");
    margin: 50; /*Dando margen*/
    margin-top: 0;
    padding: 50;
    line-height: 2;
    max-width: 1225;
}
/*Distribución containers 8vo Container*/
.s3{
    grid-area: 1 / 1 / 2 / 4;
    text-align: center;
    text-decoration: underline;
}
.s4{
    grid-area: 2 / 1 / 3 / 2;
    padding-right: 10;
}
.s5{
    grid-area: 2 / 2 / 3 / 3;
    padding-right: 10;
}
.s6{
    grid-area: 2 / 3 / 3 / 4;
}
.fe{
    font-family: 'Lora', serif;
    font-size: 16;
    text-decoration: underline;
    color: #529F0F;
    font-weight: bold;
}
.txt7{
    font-family: 'Lora', serif;
    font-size: 19;
    color:  #575757;
}
/*9no Container Body*/
.ninth{
    grid-area: 9 / 1 / 10 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    padding: 50;
    max-width: 1225px;
}
/*Distribución containers 9no Container*/
.n1{
    grid-area: 1 / 1 / 2 / 2;
}
.n2{
    grid-area: 1 / 2 / 2 / 2;
}
.n3{
    grid-area: 1 / 3 / 2 / 4;
}
.n4{
    grid-area: 1 / 4 / 2 / 5;
}
.n5{
    grid-area: 1 / 5 / 2 / 6;
}
/*10Mo Container*/
footer{
    grid-area: 10 / 1 / 11 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1/8fr;
    padding: 50 100;
    line-height: 2;
    max-width: 1225px;
}
.d1{
    grid-area: 1 / 1 / 2 / 2;
}
.d2{
    grid-area: 1 / 2 / 2 / 3;
}
.d3{
    grid-area: 1 / 3 / 2 / 4;
}
.d4{
    grid-area: 1 / 4 / 2 / 5;
}
.li{
    list-style: none;
    padding-left: 0;
    font-family: 'Lora', serif;
    font-size: 16;
    color:  #333333;
}
.d5{
    grid-area: 2 / 1 / 3 / 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding-top: 50;
}
/*Ultimos elementos Footer*/
.d6{
    grid-area: 1 / 1  / 2 / 2;
    font-family: 'Lora', serif;
    font-size: 16;
    color:  #333333;
}
.d7{
    grid-area: 1 /  2  / 2 /  3;
    display: flex;
    justify-content: end;
}
.fa-heart{
    color: #ff0000;
}
